build-osx
build-output.log
build-release
.DS_Store
.vscode
build
window_settings.txt
editor_state.ini
build-web-debug
build-web-release
.cache
node_modules
web/dist
web/public/generated

# Local build products and editor state
/perftest
/test
imgui.ini
levels/dump*.txt
